@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark light;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #020617;
  scroll-behavior: smooth;
}

canvas {
  touch-action: none;
}